h1{
    font-family: 'Bungee Shade', sans-serif;
font-family: 'Caveat', cursive;
/* font-family: 'Pixelify Sans', sans-serif; */
/* font-family: 'Zilla Slab Highlight', serif; */
}
.p1{
    margin-top: 200px;
}
body{
    background-color: #2f3e46;
}
h2{
    font-family: 'Roboto Slab', serif;
    color: #ffff;
}
.about1{
    margin-top: 40%;
}
.edu{
    margin-top: 40%;
}
.graduation{
    margin-left: 20%;
}












